<section>
    <div class="container custom-about-des" id="about">
        <div class="section-head">
            <span class="section-num">01</span>
            <h2 class="section-title">About Me</h2>
            <span class="section-line"></span>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-start about-box" data-aos="flip-left">
                <div class="box-1"><img src="assets/profile.jpg" class="img-fluid" alt="John Carlo Ciasico"></div>
            </div>
            <div class="col-lg-6 col-md-12 des-box" data-aos="zoom-in">
                <h6>My name is <span id="h6">John Carlo G. Ciasico</span>
                </h6>
                <p class="des-text">Software Developer working mainly in Angular and Ionic. I build POS
                    systems, ERPs, and payroll tools that need to run across a dozen branches without
                    falling over. Lately that's meant wiring up Xendit and GCash, and getting thermal
                    printers to actually cooperate.
                </p>
                <div class="row text-center">
                    <div class="col-lg-6 col-md-12 mt-3">
                        <span style="color:var(--accent);">Name<br></span>
                        <span>John Carlo G. Ciasico</span>
                    </div>
                    <div class="col-lg-6 col-md-12 mt-3">
                        <span style="color:var(--accent);">Phone<br></span>
                        <span>+63 919 072 0877</span>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-6 col-md-12 mt-3">
                        <span style="color:var(--accent);">Country<br></span>
                        <span>Philippines</span>
                    </div>
                    <div class="col-lg-6 col-md-12 mt-3">
                        <span style="color:var(--accent);">Email<br></span>
                        <span>ciasico.carlo&#64;gmail.com</span>
                    </div>
                </div>
                <div class="row text-center mt-5">
                    <span style="color:var(--accent);">Education</span>
                    <span style="font-size:1.1rem">BS in Computer Science</span>
                    <span style="font-size:1.1rem">Emilio Aguinaldo College - Cavite</span>
                    <span style="font-size:0.9rem; color:var(--text-2);">Merit Scholar (2021) &middot; Varsity Scholar (2018&ndash;2022)</span>
                </div>

                <div class="icon-box">
                    <ul class="wrapper">
                        <li class="icon facebook" style="font-size:1.5rem">
                            <span class="tooltip">Facebook</span>
                            <a href="https://www.facebook.com/johncarlociasico" target="_blank"><i class="fab fa-facebook-f" style="color:black"></i></a>
                        </li>

                        <li class="icon github" style="font-size:1.5rem">
                            <span class="tooltip">Github</span>
                            <a href="https://github.com/JCciasico" target="_blank"><i class="fab fa-github" style="color:black"></i></a>
                        </li>
                        <li class="icon linkedin" style="font-size:1.5rem">
                            <span class="tooltip">Linkedin</span>
                            <a href="https://www.linkedin.com/in/john-carlo-ciasico/" target="_blank"><i class="fab fa-linkedin" style="color:black"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
