<section>
    <div class="container" id="contact">
        <div class=" text-center" style="padding-top:2rem">
            <h1 class="text-2">Let's Work Together</h1>
            <p class="lead-text">Have a project in mind or an opening on your team? I'd love to hear from you.</p>
        </div>
        <div class="row contact-body" data-aos="fade-down">
            <div class="col-lg-4 col-md-6 col-sm-12 box-1">
                <div class="text-center">
                    <i class="fa-solid fa-mobile-screen icon"></i><br>
                    <span style="font-weight:bold">Contact Me On</span><br>
                    <span>+63 919 072 0877</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 box-1">
                <div class="text-center">
                    <i class="fa-solid fa-envelope icon"></i><br>
                    <span style="font-weight:bold">Email me at</span><br>
                    <span>ciasico.carlo&#64;gmail.com</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 box-1">
                <div class="text-center">
                    <i class="fa-solid fa-map-location-dot icon"></i><br>
                    <span style="font-weight:bold">Visit Me</span><br>
                    <span>General Trias, Cavite, Philippines</span>
                </div>
            </div>
            <div class="text-center send">
                <a href="mailto:ciasico.carlo@gmail.com"><button>Send A Message</button></a>
            </div>
        </div>
    </div>
</section>
